flows/posts.json
[{"id":"6e9d439b.fe5d1c","type":"tab","label":"Post","disabled":false,"info":""},{"id":"bcd2da52.b14c38","type":"http in","z":"6e9d439b.fe5d1c","name":"[set] /posts","url":"/posts","method":"post","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["a44447a.16cceb8"]]},{"id":"a44447a.16cceb8","type":"function","z":"6e9d439b.fe5d1c","name":"Redis HSET posts","func":"msg.payload = ['posts',\n    'data',\n    JSON.stringify({\n    results: [\n        {\n          userId: 1,\n          id: 1,\n          title: \"sunt aut facere repellat provident occaecati excepturi optio reprehenderit\",\n          body:\t\"quia et suscipit\\nsuscipit recusandae consequuntur expedita et cum\\nreprehenderit molestiae ut ut quas totam\\nnostrum rerum est autem sunt rem eveniet architecto\"\n        },\t\n        {\n          userId: 2,\n          id: 2,\n          title: \"qui est esse\",\n          body:\t\"est rerum tempore vitae\\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\\nqui aperiam non debitis possimus qui neque nisi nulla\"\n        },\t\n        {\n          userId: 3,\n          id: 3,\n          title: \"qui est esse\",\n          body:\t\"est rerum tempore vitae\\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\\nqui aperiam non debitis possimus qui neque nisi nulla\"\n        }\t\n    ]\n})];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["9f9ed252.708f9"]]},{"id":"9f9ed252.708f9","type":"redis-command","z":"6e9d439b.fe5d1c","server":"ff83b98b.bb0ce8","command":"hset","name":"","topic":"","x":560,"y":80,"wires":[["2318a16e.61e26e"]]},{"id":"2318a16e.61e26e","type":"function","z":"6e9d439b.fe5d1c","name":"Result JSON","func":"msg.payload = {\n    \"save_name\": true,\n};\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["c6bccef4.af0a3"]]},{"id":"c6bccef4.af0a3","type":"http response","z":"6e9d439b.fe5d1c","name":"Create Success","statusCode":"","headers":{},"x":990,"y":80,"wires":[]},{"id":"fbdb843d.0356f8","type":"http in","z":"6e9d439b.fe5d1c","name":"[get] /posts","url":"/posts","method":"get","upload":false,"swaggerDoc":"","x":150,"y":220,"wires":[["85ca4f71.d46c1"]]},{"id":"85ca4f71.d46c1","type":"function","z":"6e9d439b.fe5d1c","name":"Redis HGET posts","func":"payload = msg.payload\nmsg.payload = ['posts', 'data'];\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["7b7e6f4.446d39"]]},{"id":"7b7e6f4.446d39","type":"redis-command","z":"6e9d439b.fe5d1c","server":"ff83b98b.bb0ce8","command":"hget","name":"","topic":"","x":560,"y":220,"wires":[["c3ceb283.a2e5c"]]},{"id":"c3ceb283.a2e5c","type":"switch","z":"6e9d439b.fe5d1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":220,"wires":[["eaa7796.97d9588"],["632cf00d.b5274"]]},{"id":"eaa7796.97d9588","type":"function","z":"6e9d439b.fe5d1c","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"data doesn't exists\"};\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":180,"wires":[["6b0a9f4d.716f3"]]},{"id":"6b0a9f4d.716f3","type":"http response","z":"6e9d439b.fe5d1c","name":"GET Data Error","statusCode":"400","headers":{},"x":1150,"y":180,"wires":[]},{"id":"632cf00d.b5274","type":"json","z":"6e9d439b.fe5d1c","name":"Database JSON","property":"payload","action":"","pretty":true,"x":930,"y":320,"wires":[["90293130.8e8bc"]]},{"id":"90293130.8e8bc","type":"http response","z":"6e9d439b.fe5d1c","name":"GET Success","statusCode":"","headers":{},"x":1130,"y":320,"wires":[]},{"id":"fa6c8e88.6087e","type":"http in","z":"6e9d439b.fe5d1c","name":"[get] /posts/:postId","url":"/posts/:postId","method":"get","upload":false,"swaggerDoc":"","x":147,"y":481,"wires":[["a6cba047.e29e8"]]},{"id":"113693f5.2290ec","type":"function","z":"6e9d439b.fe5d1c","name":"Redis HGET posts","func":"payload = msg.payload;\nmsg.payload = [\"posts\", \"data\"];\nmsg.postId = payload.postId;\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":578,"wires":[["e22c5613.0a5128"]]},{"id":"e22c5613.0a5128","type":"redis-command","z":"6e9d439b.fe5d1c","server":"ff83b98b.bb0ce8","command":"hget","name":"","topic":"","x":617,"y":534,"wires":[["dbacc3c6.989c9"]]},{"id":"58c77f58.62be8","type":"switch","z":"6e9d439b.fe5d1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":871,"y":538,"wires":[["66deefb9.04584"],["21d2b440.74a4cc"]]},{"id":"66deefb9.04584","type":"function","z":"6e9d439b.fe5d1c","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"data doesn't exists\"};\nreturn msg;","outputs":1,"noerr":0,"x":1026,"y":493,"wires":[["9e5d5b4a.1d9fb8"]]},{"id":"21d2b440.74a4cc","type":"json","z":"6e9d439b.fe5d1c","name":"Database JSON","property":"payload","action":"","pretty":true,"x":1038,"y":581,"wires":[["1b520cb9.a19753"]]},{"id":"1b520cb9.a19753","type":"http response","z":"6e9d439b.fe5d1c","name":"GET Success","statusCode":"","headers":{},"x":1242,"y":581,"wires":[]},{"id":"9e5d5b4a.1d9fb8","type":"http response","z":"6e9d439b.fe5d1c","name":"GET Data Error","statusCode":"400","headers":{},"x":1219,"y":493,"wires":[]},{"id":"a6cba047.e29e8","type":"change","z":"6e9d439b.fe5d1c","name":"GET Post","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"postId\": msg.req.params.postId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":275.5,"y":528,"wires":[["113693f5.2290ec"]]},{"id":"dbacc3c6.989c9","type":"function","z":"6e9d439b.fe5d1c","name":"Result JSON","func":"results = msg.payload;\n\nresultObject = JSON.parse(results);\nresultsArray = resultObject.results;\n\nresult = null;\nfor (i = 0, n = resultsArray.length; i < n; i++) {\n    item = resultsArray[i];\n    if (Number(item.id) === Number(msg.postId)) {\n        result = item;\n    }\n}\nmsg.payload = result\n\nreturn msg;","outputs":1,"noerr":0,"x":718,"y":605,"wires":[["58c77f58.62be8"]]},{"id":"577ee5f6.7b84ac","type":"http in","z":"6e9d439b.fe5d1c","name":"[post] /posts/create","url":"/posts/create","method":"post","upload":false,"swaggerDoc":"","x":109.5,"y":753,"wires":[["dce36bc4.cc81d8"]]},{"id":"ad5ae603.a723d8","type":"change","z":"6e9d439b.fe5d1c","name":"PostParams","rules":[{"t":"set","p":"newPayload","pt":"msg","to":"{\t    \"datatype\": \"posts\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":443.5,"y":742,"wires":[["624612f6.780bfc"]]},{"id":"624612f6.780bfc","type":"function","z":"6e9d439b.fe5d1c","name":"Add Source ID to Data","func":"resultObject = JSON.parse(msg.payload);\nresultsArray = resultObject.results;\nmsg.newPayload.data.id = resultsArray.length + 1;\nreturn msg;","outputs":1,"noerr":0,"x":599.5,"y":816,"wires":[["ea95588c.1fd218"]]},{"id":"ea95588c.1fd218","type":"function","z":"6e9d439b.fe5d1c","name":"Redis HSET params","func":"newPayload = msg.newPayload;\n\nresultObject = JSON.parse(msg.payload);\nresultsArray = resultObject.results;\n\nnewItem = msg.newPayload.data;\nresultsArray.push(newItem)\n\ntoSave = {\n    results: resultsArray\n}\n\nmsg.payload = ['posts', 'data', JSON.stringify(toSave)];\n\nreturn msg;","outputs":1,"noerr":0,"x":774.5,"y":880,"wires":[["422a1386.0031ec"]]},{"id":"422a1386.0031ec","type":"redis-command","z":"6e9d439b.fe5d1c","server":"ff83b98b.bb0ce8","command":"hset","name":"","topic":"","x":1036.5,"y":794,"wires":[["253fc6ae.d2828a"]]},{"id":"253fc6ae.d2828a","type":"function","z":"6e9d439b.fe5d1c","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data created successfully\", sid: msg.sid};\nreturn msg;","outputs":1,"noerr":0,"x":1245.5,"y":778,"wires":[["2ccb281a.8ea948"]]},{"id":"2ccb281a.8ea948","type":"http response","z":"6e9d439b.fe5d1c","name":"Create Success","statusCode":"","headers":{},"x":1463,"y":771,"wires":[]},{"id":"dce36bc4.cc81d8","type":"function","z":"6e9d439b.fe5d1c","name":"Redis HGET posts","func":"payload = msg.payload\nmsg.payload = ['posts', 'data'];\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":863,"wires":[["35a55b5.616e4a4"]]},{"id":"35a55b5.616e4a4","type":"redis-command","z":"6e9d439b.fe5d1c","server":"ff83b98b.bb0ce8","command":"hget","name":"","topic":"","x":331,"y":934,"wires":[["ad5ae603.a723d8"]]},{"id":"160bdf12.1d1ef1","type":"http in","z":"6e9d439b.fe5d1c","name":"[put] /posts/:postId","url":"/posts/:postId","method":"put","upload":false,"swaggerDoc":"","x":115.5,"y":1150,"wires":[["88bd6758.0df238"]]},{"id":"bf52eb78.2d1188","type":"change","z":"6e9d439b.fe5d1c","name":"PutParams","rules":[{"t":"set","p":"newPayload","pt":"msg","to":"{\t    \"postId\": msg.req.params.postId,\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":463.5,"y":1112,"wires":[["c0633ceb.31dad"]]},{"id":"88bd6758.0df238","type":"function","z":"6e9d439b.fe5d1c","name":"Redis HGET posts","func":"payload = msg.payload\nmsg.payload = ['posts', 'data'];\nreturn msg;","outputs":1,"noerr":0,"x":253,"y":1217,"wires":[["8f0ab7e2.73e7b8"]]},{"id":"8f0ab7e2.73e7b8","type":"redis-command","z":"6e9d439b.fe5d1c","server":"ff83b98b.bb0ce8","command":"hget","name":"","topic":"","x":394,"y":1288,"wires":[["bf52eb78.2d1188"]]},{"id":"c0633ceb.31dad","type":"function","z":"6e9d439b.fe5d1c","name":"Redis UPDATE data","func":"newPayload = msg.newPayload;\n\nresultObject = JSON.parse(msg.payload);\nresultsArray = resultObject.results;\n\nnewItem = msg.newPayload.data;\n\nnewResultsArray = [];\nfor (i = 0, n = resultsArray.length; i < n; i++) {\n    item = resultsArray[i];\n    if (Number(item.id) === Number(newItem.id)) {\n        newResultsArray.push(newItem);\n    } else {\n        newResultsArray.push(item);\n    }\n}\n\ntoSave = {\n    results: newResultsArray\n}\n\n\nconsole.log('toSave ', toSave)\n\n\nmsg.payload = ['posts', 'data', JSON.stringify(toSave)];\n\nreturn msg;","outputs":1,"noerr":0,"x":724.5,"y":1163,"wires":[["52cb4d35.72e2f4"]]},{"id":"52cb4d35.72e2f4","type":"redis-command","z":"6e9d439b.fe5d1c","server":"ff83b98b.bb0ce8","command":"hset","name":"","topic":"","x":973,"y":1201,"wires":[["c954800f.7cd14"]]},{"id":"c954800f.7cd14","type":"function","z":"6e9d439b.fe5d1c","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data created successfully\", sid: msg.sid};\nreturn msg;","outputs":1,"noerr":0,"x":1182,"y":1185,"wires":[["1ab2bd9f.1a8162"]]},{"id":"1ab2bd9f.1a8162","type":"http response","z":"6e9d439b.fe5d1c","name":"Update Success","statusCode":"","headers":{},"x":1399.5,"y":1178,"wires":[]},{"id":"ff83b98b.bb0ce8","type":"redis-config","z":"","host":"192.168.88.38","port":"{{REDIS_PORT_6379_TCP_PORT}}","dbase":"{{REDIS_DB}}","pass":"{{REDIS_PASSWORD}}"}]