flows/users.json
[{"id":"d93c124b.64247","type":"tab","label":"Users","disabled":false,"info":""},{"id":"3044e007.d41e7","type":"http in","z":"d93c124b.64247","name":"[set] /users","url":"/users","method":"post","upload":false,"swaggerDoc":"","x":100,"y":80,"wires":[["641e4358.4edc1c"]]},{"id":"1c314ac.31787b5","type":"redis-command","z":"d93c124b.64247","server":"ff83b98b.bb0ce8","command":"hset","name":"","topic":"","x":520,"y":80,"wires":[["939c63ec.ee719"]]},{"id":"939c63ec.ee719","type":"function","z":"d93c124b.64247","name":"Result JSON","func":"msg.payload = {\n    \"save_name\": true,\n};\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":80,"wires":[["8b513a32.90b7b8"]]},{"id":"8b513a32.90b7b8","type":"http response","z":"d93c124b.64247","name":"Create Success","statusCode":"","headers":{},"x":950,"y":80,"wires":[]},{"id":"6a8656e5.2b8098","type":"http in","z":"d93c124b.64247","name":"[get] /users","url":"/users","method":"get","upload":false,"swaggerDoc":"","x":110,"y":220,"wires":[["e8ac5813.0ddc08"]]},{"id":"e8ac5813.0ddc08","type":"function","z":"d93c124b.64247","name":"Redis HGET users","func":"payload = msg.payload\nmsg.payload = ['users', 'data'];\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["67af75cb.a2c4ac"]]},{"id":"67af75cb.a2c4ac","type":"redis-command","z":"d93c124b.64247","server":"ff83b98b.bb0ce8","command":"hget","name":"","topic":"","x":520,"y":220,"wires":[["d4b86ab7.a14978"]]},{"id":"d4b86ab7.a14978","type":"switch","z":"d93c124b.64247","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":220,"wires":[["556041cd.98add"],["3cab012f.b5788e"]]},{"id":"556041cd.98add","type":"function","z":"d93c124b.64247","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"data doesn't exists\"};\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":180,"wires":[["feb204fe.d62ce8"]]},{"id":"feb204fe.d62ce8","type":"http response","z":"d93c124b.64247","name":"GET Data Error","statusCode":"400","headers":{},"x":1110,"y":180,"wires":[]},{"id":"3cab012f.b5788e","type":"json","z":"d93c124b.64247","name":"Database JSON","property":"payload","action":"","pretty":true,"x":890,"y":320,"wires":[["95c54eb0.228fa"]]},{"id":"95c54eb0.228fa","type":"http response","z":"d93c124b.64247","name":"GET Success","statusCode":"","headers":{},"x":1090,"y":320,"wires":[]},{"id":"aa9a10e1.e548e","type":"http in","z":"d93c124b.64247","name":"[get] /users/:userId","url":"/users/:userId","method":"get","upload":false,"swaggerDoc":"","x":150,"y":353,"wires":[["648615a5.120fac"]]},{"id":"afd99335.a81b7","type":"function","z":"d93c124b.64247","name":"Redis HGET users","func":"payload = msg.payload;\nmsg.payload = [\"users\", \"data\"];\nmsg.userId = payload.userId;\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":548,"wires":[["740b21a7.01462"]]},{"id":"740b21a7.01462","type":"redis-command","z":"d93c124b.64247","server":"ff83b98b.bb0ce8","command":"hget","name":"","topic":"","x":557,"y":482,"wires":[["97a1e71a.ecf138"]]},{"id":"c38313ab.803df","type":"switch","z":"d93c124b.64247","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":859,"y":482,"wires":[["c6dc4b4d.0c2008"],["e85253da.31c0f"]]},{"id":"c6dc4b4d.0c2008","type":"function","z":"d93c124b.64247","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"data doesn't exists\"};\nreturn msg;","outputs":1,"noerr":0,"x":1055,"y":445,"wires":[["49d5d7f6.4ed4d8"]]},{"id":"e85253da.31c0f","type":"json","z":"d93c124b.64247","name":"Database JSON","property":"payload","action":"","pretty":true,"x":1051,"y":537,"wires":[["5b4b88ec.2fc278"]]},{"id":"5b4b88ec.2fc278","type":"http response","z":"d93c124b.64247","name":"GET Success","statusCode":"","headers":{},"x":1303,"y":560,"wires":[]},{"id":"49d5d7f6.4ed4d8","type":"http response","z":"d93c124b.64247","name":"GET Data Error","statusCode":"400","headers":{},"x":1281,"y":422,"wires":[]},{"id":"648615a5.120fac","type":"change","z":"d93c124b.64247","name":"GET User","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"userId\": msg.req.params.userId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":292.5,"y":424,"wires":[["afd99335.a81b7"]]},{"id":"641e4358.4edc1c","type":"function","z":"d93c124b.64247","name":"Redis HSET users","func":"msg.payload = ['users',\n    'data',\n    JSON.stringify({\n    results: [\n        {\n          id:\t1,\n          name:\t\"Leanne Graham\",\n          username:\t\"Bret\",\n          email:\t\"Sincere@april.biz\",\n          address: {\t\n                street:\t\"Kulas Light\",\n                suite:\t\"Apt. 556\",\n                city:\t\"Gwenborough\",\n                zipcode: \"92998-3874\",\n                geo: {\n                    lat: \"-37.3159\",\n                    lng: \"81.1496\",\n                }\n          },\n          phone: \"1-770-736-8031 x56442\",\n          website: \"hildegard.org\",\n          company: {\t\n            name:\t\"Romaguera-Crona\",\n            catchPhrase:\t\"Multi-layered client-server neural-net\",\n            bs:\t\"harness real-time e-markets\"\n          }\n        },\t\n        {\n          id:\t2,\n          name:\t\"Ervin Howell\",\n          username:\t\"Antonette\",\n          email:\t\"Shanna@melissa.tv\",\n          address: {\t\n                street:\t\"Victor Plains\",\n                suite:\t\"Suite 879\",\n                city:\t\"Wisokyburgh\",\n                zipcode: \"90566-7771\",\n                geo: {\n                    lat: \"-43.9509\",\n                    lng: \"-34.4618\",\n                }\n          },\n          phone: \"1-463-123-4447\",\n          website: \"ramiro.info\",\n          company: {\t\n            name: \"Romaguera-Jacobson\",\n            catchPhrase: \"Face to face bifurcated interface\",\n            bs:\t\"e-enable strategic applcations\"\n          }\n        },\n        {\n          id: 3,\n          name:\t\"Clementine Bauch\",\n          username:\t\"Samantha\",\n          email:\t\"Nathan@yesenia.net\",\n          address: {\t\n                street:\t\"Douglas Extension\",\n                suite:\t\"Suite 847\",\n                city:\t\"McKenziehaven\",\n                zipcode: \"59590-4157\",\n                geo: {\n                    lat: \"-68.6102\",\n                    lng: \"-47.0653\",\n                }\n          },\n          phone:\t\"1-770-736-8031 x56442\",\n          website:\t\"hildegard.org\",\n          company: {\t\n            name:\t\"Romaguera-Crona\",\n            catchPhrase:\t\"Multi-layered client-server neural-net\",\n            bs:\t\"harness real-time e-markets\"\n          }\n        },\n        {\n          id:\t4,\n          name:\t\"Patricia Lebsack\",\n          username:\t\"Karianne\",\n          email: \"Julianne.OConner@kory.org\",\n          address: {\t\n                street: \"Hoeger Mall\",\n                suite:\t\"Apt. 692\",\n                city:\t\"South Elvis\",\n                zipcode: \"53919-4257\",\n                geo: {\n                    lat: \"29.4572\",\n                    lng: \"-164.2990\",\n                }\n          },\n          phone: \"493-170-9623 x156\",\n          website: \"kale.biz\",\n          company: {\t\n            name: \"Robel-Corkery\",\n            catchPhrase: \"Multi-tiered zero tolerance productivity\",\n            bs:\t\"transition cutting-edge web services\"\n          }\n        },\n    ]\n})];\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["1c314ac.31787b5"]]},{"id":"97a1e71a.ecf138","type":"function","z":"d93c124b.64247","name":"Result JSON","func":"results = msg.payload;\n\nresultObject = JSON.parse(results);\nresultsArray = resultObject.results;\n\nresult = null;\nfor (i = 0, n = resultsArray.length; i < n; i++) {\n    item = resultsArray[i];\n    if (Number(item.id) === Number(msg.userId)) {\n        result = item;\n    }\n}\nmsg.payload = result\n\nreturn msg;","outputs":1,"noerr":0,"x":721,"y":550,"wires":[["c38313ab.803df"]]},{"id":"1678c2d5.b69aad","type":"http in","z":"d93c124b.64247","name":"[post] /users/create","url":"/users/create","method":"post","upload":false,"swaggerDoc":"","x":137,"y":748,"wires":[["aff4651e.7a9d58"]]},{"id":"db5a938c.9e35d","type":"change","z":"d93c124b.64247","name":"PostParams","rules":[{"t":"set","p":"newPayload","pt":"msg","to":"{\t    \"datatype\": \"users\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":471,"y":737,"wires":[["204d9bdb.bf0aa4"]]},{"id":"204d9bdb.bf0aa4","type":"function","z":"d93c124b.64247","name":"Add Source ID to Data","func":"resultObject = JSON.parse(msg.payload);\nresultsArray = resultObject.results;\nmsg.newPayload.data.id = resultsArray.length + 1;\nreturn msg;","outputs":1,"noerr":0,"x":627,"y":811,"wires":[["53357fd.4310f8"]]},{"id":"53357fd.4310f8","type":"function","z":"d93c124b.64247","name":"Redis HSET params","func":"newPayload = msg.newPayload;\n\nresultObject = JSON.parse(msg.payload);\nresultsArray = resultObject.results;\n\nnewItem = msg.newPayload.data;\nresultsArray.push(newItem)\n\ntoSave = {\n    results: resultsArray\n}\n\nconsole.log('TO SAVE', toSave)\n\nmsg.payload = ['users', 'data', JSON.stringify(toSave)];\n\nreturn msg;","outputs":1,"noerr":0,"x":802,"y":875,"wires":[["6005c47.f70553c"]]},{"id":"6005c47.f70553c","type":"redis-command","z":"d93c124b.64247","server":"ff83b98b.bb0ce8","command":"hset","name":"","topic":"","x":1064,"y":789,"wires":[["fb8b69f1.753c38"]]},{"id":"fb8b69f1.753c38","type":"function","z":"d93c124b.64247","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data created successfully\", sid: msg.sid};\nreturn msg;","outputs":1,"noerr":0,"x":1273,"y":773,"wires":[["db6a544d.e6d3a8"]]},{"id":"db6a544d.e6d3a8","type":"http response","z":"d93c124b.64247","name":"Create Success","statusCode":"","headers":{},"x":1490.5,"y":766,"wires":[]},{"id":"aff4651e.7a9d58","type":"function","z":"d93c124b.64247","name":"Redis HGET users","func":"payload = msg.payload\nmsg.payload = ['users', 'data'];\nreturn msg;","outputs":1,"noerr":0,"x":217.5,"y":858,"wires":[["ae1f5db5.548da"]]},{"id":"ae1f5db5.548da","type":"redis-command","z":"d93c124b.64247","server":"ff83b98b.bb0ce8","command":"hget","name":"","topic":"","x":358.5,"y":929,"wires":[["db5a938c.9e35d"]]},{"id":"bfdee1d6.4ab65","type":"http in","z":"d93c124b.64247","name":"[put] /users/:userId","url":"/users/:userId","method":"put","upload":false,"swaggerDoc":"","x":192,"y":1075,"wires":[["4630f3bb.a245ec"]]},{"id":"249a64b3.8b029c","type":"change","z":"d93c124b.64247","name":"PutParams","rules":[{"t":"set","p":"newPayload","pt":"msg","to":"{\t    \"postId\": msg.req.params.postId,\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1037,"wires":[["5639940d.e9687c"]]},{"id":"4630f3bb.a245ec","type":"function","z":"d93c124b.64247","name":"Redis HGET users","func":"payload = msg.payload\nmsg.payload = ['users', 'data'];\nreturn msg;","outputs":1,"noerr":0,"x":329.5,"y":1142,"wires":[["16969ee9.61daa1"]]},{"id":"16969ee9.61daa1","type":"redis-command","z":"d93c124b.64247","server":"ff83b98b.bb0ce8","command":"hget","name":"","topic":"","x":470.5,"y":1213,"wires":[["249a64b3.8b029c"]]},{"id":"5639940d.e9687c","type":"function","z":"d93c124b.64247","name":"Redis UPDATE data","func":"newPayload = msg.newPayload;\n\nresultObject = JSON.parse(msg.payload);\nresultsArray = resultObject.results;\n\nnewItem = msg.newPayload.data;\n\nnewResultsArray = [];\nfor (i = 0, n = resultsArray.length; i < n; i++) {\n    item = resultsArray[i];\n    if (Number(item.id) === Number(newItem.id)) {\n        newResultsArray.push(newItem);\n    } else {\n        newResultsArray.push(item);\n    }\n}\n\ntoSave = {\n    results: newResultsArray\n}\n\n\nconsole.log('toSave ', toSave)\n\n\nmsg.payload = ['users', 'data', JSON.stringify(toSave)];\n\nreturn msg;","outputs":1,"noerr":0,"x":801,"y":1088,"wires":[["6eaa185c.9bbbd8"]]},{"id":"6eaa185c.9bbbd8","type":"redis-command","z":"d93c124b.64247","server":"ff83b98b.bb0ce8","command":"hset","name":"","topic":"","x":1049.5,"y":1126,"wires":[["2f2fb030.4910a"]]},{"id":"2f2fb030.4910a","type":"function","z":"d93c124b.64247","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data created successfully\", sid: msg.sid};\nreturn msg;","outputs":1,"noerr":0,"x":1258.5,"y":1110,"wires":[["3a4282f8.53d20e"]]},{"id":"3a4282f8.53d20e","type":"http response","z":"d93c124b.64247","name":"Update Success","statusCode":"","headers":{},"x":1476,"y":1103,"wires":[]},{"id":"ff83b98b.bb0ce8","type":"redis-config","z":"","host":"192.168.88.38","port":"{{REDIS_PORT_6379_TCP_PORT}}","dbase":"{{REDIS_DB}}","pass":"{{REDIS_PASSWORD}}"}]